.privacy{
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    margin-bottom: 80px;
}
.privacy .disc{
    margin-top: 30px;
    font-size: 15px;
}
.privacy .text{
    margin-bottom: 10px;
}