@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
$Back-color: #F4F0E1;
$Text-color: #7C494B;
$Disc-color: #F0F6FF;

*{
    box-sizing: border-box;
    appearance: none; /* ẩn thanh cuộn mặc định */
}
*::-ms-expand {
    display: none; /* ẩn biểu tượng mũi tên cho trình duyệt IE */
}
*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: $Back-color;
    border: 2px $Disc-color solid;
}

*::-webkit-scrollbar-thumb {
    background-color: $Text-color;
    border-radius: 6px;
}

*::-webkit-scrollbar-thumb:hover {
    background: $Text-color;
}

body{
    color: $Text-color;
    font-family: "MuseoModerno", sans-serif;
    background-color: $Back-color;
}

header{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;

    a{
        display: flex;
    }
}

.header--scrolled{
    top: -90px;
    transition: all 0.4s;
}

.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: $Back-color;
    position: relative;

    &__image{
        width: 150px;
        height: auto;
        padding: 15px;
        animation: colorChange 10s linear infinite;

        &--hiden{
            width: 120px;
            height: auto;
            padding: 15px;
            left: 150px;
            bottom: -8px;
            position: absolute;
            bottom: -8px;
            left: 100px;
            opacity: 0;
            transition: all 0.5s;
            animation: colorChange 10s linear infinite;
        }

        &--flex{
            width: 120px;
            height: auto;
            padding: 15px;
            left: 150px;
            bottom: -8px;
            position: absolute;
            bottom: 1px;
            left: 100px;
            opacity: 1;
            transition: all 0.5s ease-in;
        }
    }
    &__menu{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        margin-right: 180px;
        height: 70px;

        &__inner{
            list-style-type: none;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 50%;
            padding: 0px;
            margin: 0px;
            margin-right: 6%;
            height: 100%;

            li{
                display: flex;
                height: 100%;
                cursor: pointer;
                padding: 20px;
                font-size: 20px;
                width: 100%;
                align-items: center;
                justify-content: center;
                transition: all 0.2s ease-in;
            }
            li:hover{
                background-color: #7C494B;
                color: $Back-color;
            }
            a{
                text-decoration: none;
                color: #7C494B;
                height: 100%;
            }
        }
    
        &__find{
            margin-left: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.75s ease-in;
            height: 100%;

            &__icon{
                display: flex;
                align-items: center;
                justify-content: end;
                font-size: 20px;
                margin-right: 10px;
                font-size: 30px;
                position: relative;
                cursor: pointer;
            }

            &__user{
                display: flex;
                position: relative;
                height: 100%;
                align-items: center;
                justify-content: center;

                &--hidden{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background-color: $Disc-color;
                    position: absolute;
                    top: 60px;
                    opacity: 0;
                    transition: all 0.3s ease-in;
                    animation: slide 3s linear infinite;
                    border-radius: 15px;
                    visibility: hidden;
                    width: 250px;

                    &__nameUser{
                        width: 100%;
                        font-size: 25px;
                        text-align: center;
                        font-weight: 600;
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    a{
                        width: 100%;
                    }
                    &__setting{
                        width: 100%;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: start;
                        font-size: 20px;
                        color: #7C494B;
                        padding: 0px 10px;
                        border-top: 2px solid $Text-color;
                    }
                    &__setting:hover{
                        background-color: #7C494B;
                        color: $Back-color;
                    }

                    &__tamGiac{
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid $Disc-color;
                        position: absolute;
                        top: -10px;
                    }
                }
            }

            &__user:hover > .header__menu__find__user--hidden{
                top: 85px;
                opacity: 1;
                visibility: visible;
            }

            &__user:hover > .header__menu__find__user--hidden:hover{
                top: 85px;
                opacity: 1;
                visibility: visible;
                box-shadow: 12px 12px 8px #ad5050;
            }

            a{
                text-decoration: none;
            }
            &__login{
                font-size: 18px;
                display: flex;
                padding: 5px 10px;
                background-color: $Disc-color;
                border-radius: 100px;
                border: $Text-color solid 1px;
                color: $Text-color;
                transition: all 0.3s ease-in;
                width: 120px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                cursor: pointer;
                height: 40px;

                &__icon{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            &__login:hover{
                background-color: $Text-color;
                border: $Text-color solid 1px;
                color: $Back-color;
            }
        }
    }
}
@keyframes colorChange {
    0% { filter: hue-rotate(0deg); }
    100% { filter: hue-rotate(360deg); }
}
.header__menu__find__icon__innerIcon{
    position: absolute;
    right: 5px;
}

.header__menu__find__icon__input{
    opacity: 0;
    display: flex;
    width: 0px;
    padding: 10px;
    border-radius: 100px;
    transition: all 0.75s ease-in;
}

.header__menu__find__icon__innerIcon:hover + .header__menu__find__icon__input{
    opacity: 1;
    width:200px;
    transition: all 0.75s ease-in;
}

.header__menu__find__icon__input:hover{
    opacity: 1;
    width:200px;
    transition: all 0.75s ease-in;
}

.footer{
    background-image: url(../../image/Background.png);
    display: flex;
    width: 100%;
    height: 200px;
    background-position: center;
    color: $Back-color;
    justify-content: space-around;
    font-size: 20px;
    padding: 50px;

    &__about{
        display: flex;
        flex-direction: column;

        a{
            text-decoration: none;
            color: $Back-color;
        }
        a:hover{
            color: rgb(198, 141, 198);
        }
    }

    &__follow{
        display: flex;
        flex-direction: column;

        &__us{

        }
        &__icon{
            display: flex;

            &__icon{
                width: 30px;
                height: 30px;
                background-color: $Back-color;
                margin-top: 30px;
                margin-left: 20px;

                &--marginLeft{
                    width: 30px;
                    height: 30px;
                    background-color: $Back-color;
                    margin-top: 30px;
                    margin-left: 0px;
                }
            }
        }
    }
    &__input{
        
        &__text{

        }
        &__email{
            display: flex;
            padding: 2px 2px;
            border-radius: 100px;
            border: solid $Back-color 2px;
            justify-content: space-between;
            align-items: center;
            margin-top: 25px;

            &__text{
                font-size: 15px;
                font-weight: 300;
                margin-left: 10px;
            }
            &__icon{
                width: 30px;
                height: 30px;
                background-color: $Back-color;
                border-radius: 100px;
                color: #7C494B;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

}
